:root {
  --pixel-size: 6;
  --main-font:'Press Start 2P', cursive;
}

/* html{
  max-height: 100vh;
} */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
  font-family: var(--main-font);
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* h1{
  padding: 1em;
  position: absolute
} */

/* body{
  margin: 0;
} */

.container {
	box-sizing: border-box;
	height: 100vh;
/*   height: auto; */
	display: flex;
	flex-direction: column;
  background-color: #6FDCFF;
/*     position: relative; */
}

.container .stage {
  position: relative;
  flex: 1;
}

.header{
    background-color: #6FDCFF;

}

.ground {
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
	background-image: url("/images/ground.png"); */
  position: relative;
		flex: 0 0 30vh;
		transition: background-position;
		transition-timing-function: ease-in-out;
		margin-top: auto;
		background-color: brown;
		background-position: 0px 32px;
    background-image: url("../images/ground.png");
    transition: background-position 0.2s ease-in-out, left 0.2s ease-in-out;
    

  }
  
.grass {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 32px;
transition-property: background-position;
transition-timing-function: ease-in-out;
background-image: url("../images/grass.png");
transition: background-position 0.2s ease-in-out;

}
/* tubes  */
/*   #tubes{
    list-style:none;
  } */
.ground2{
  position:relative;
  bottom: 0;
  justify-content:center;
}
    .blocks {
        position: absolute;
        bottom: 0;
/*         width: 100%; */
      min-width: 5em;
        height: 50px;
        display: flex;
/*         justify-content: space-between; */
      gap: 2em;
      list-style:none;
    }
    .block {
        width: 40px;
        height: 40px;
        background-color: gray;
    }


/* sprite character */

/* .Character {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  margin: 4em auto;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
  
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}


@keyframes moveSpritesheet {
  from {
     transform: translate3d(0px,0,0)
  }
  to {
     transform: translate3d(-100%,0,0)
  }
} */

.Character {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;

  z-index: 1000;
  /* margin: auto;
  


  position: fixed;
  bottom: 0;
  margin-bottom: 26vh; */

  position: absolute;
	/* width: 32px; */
	/* height: 48px; */
	left: 50%;
	bottom: -1em;
	transform: translateX(-50%);
	animation-fill-mode: forwards;

}
.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}
.pixelart {
  image-rendering: pixelated;
}
.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}
@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
 }
  to {
    transform: translate3d(-100%, 0, 0);
 }
}

/*///// pipes ///// */

/* .event {
  position: relative;
  flex: 0 0 50px;
  width: 50px;
  height: 48px;
  margin-left: 100px;
  cursor: pointer;
  background-color: green;
  background-image: url("/images/pipe.png");
  background-size: 100%;
}

#events {
  position: absolute;
  bottom: 0;
  height: 100px;
  left: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition-property: transform;
  transition-timing-function: ease-in-out;
} */


/* button */
#myButton{
  background-color: #6FDCFF;
  z-index: 10000;
  position: absolute;
  margin: 2em;
}
#myButton2{
  background-color: #6FDCFF;
  z-index: 10000;
  position: absolute;
  margin: 4em;
}



.tubecontainer {
  position: relative;
  height: 32px;
  margin-top: -32px;
}



.tube {
  position: absolute;
  top: 30%;
  right: -50px;
  width: 50px;
  height: 200px;
  background-color: green;
  transition: left 1s linear;
}


.pipe-container {
  display: flex;
  justify-content: space-between;
  /* width: 800px;  */

  /* position: relative; */
  position: absolute;
  /* width: 900px;  */
  width: 1200px;

	left: 50%;
  /* right: 50%; */
	bottom: 0;
	transform: translateX(100%);
  /* transition-timing-function: ease-in-out; */
  transition: background-position 0.2s ease-in-out, left 0.2s ease-in-out;




  
}

/* .pipe {

  width: 100px;
  height: 145px;

  background-image: url("/images/pipe2.png");
  background-size: 100%;
  background-size: cover;


  z-index:1;
  position: relative;
}


.pipe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/plant1.png");
  background-size: cover;
  z-index: -1;
} */

.pipe {
  width: 100px;
  height: 189px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.pipe img:nth-of-type(1){
  width: 100px;
  height: 145px;
  position: relative;
  z-index: 1;
}
.pipe img:nth-of-type(2){
  /* width: 100px;
  height: 145px;
  position: relative;
  z-index: -1; */
  width: 100px;
  height: 145px;
  position: absolute;
    /* position: relative; */

  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(32%);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;


}

/* .plantsUp {
  transform: translateY(-150%);
} */

.pipe img:nth-of-type(2).plantsUp {
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

/* sub mario */
.pipe img:nth-of-type(3){
  /* width: 100px;
  height: 145px;
  position: relative;
  z-index: -1; */
  width: 100px;
  height: 145px;
  position: absolute;
    /* position: relative; */

  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(32%);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;


}

/* article in pipe */
.pipe article {
  max-width: 28em;
  width: 28em;
  background-color: white;
  color: black;
  padding: 1em;
  position: relative;
  font-size: 12px;
  margin-left: 10em;
  transition: .3s ease;
}

/* .pipe article:nth-of-type(6),
.pipe article:nth-of-type(6){
  max-width: 28em;
  width: 28em;
  background-color: rgb(255, 87, 87);
  color: black;
  padding: 1em;
  position: relative;
  font-size: 12px;
  margin-left: 10em;
  transition: .3s ease;

} */

/* .pipe:nth-last-child(-n+2) article {
  float: left;
} */

.pipe article p{
  margin: 0;
  margin-top: 2em;
}
/* .pipe article p,
.pipe article h2
{
  margin: 1em;

} */

.infoUp{
  transform: translateY(-233%);
  /* display: block; */

}

.close{
  font-size: 2em;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding:.5em .3em;
}

/* .pipe article .infoUp{
  font-size: 1em;
} */

/* .marioUp{
  transform: translateY(-93%);

} */


/* pixelate borders! */
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}

/* source from generator: */
/* https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4&border=1&border_width=1&border_color=#000000 */

/* //////////////////////////////////////////// */
/* good code */
/* .pipe {
  width: 100px;
  height: 145px;
  background-image: url("/images/pipe2.png");
  background-size: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.pipe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/plant1.png");
  background-size: cover;
  z-index: -1;
} */
/* good code */
/* //////////////////////////////////////////// */



/* .pipe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  background-image: url("/images/plant1.png");
  background-size: cover;


  animation-name: moveUpDown;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
} */

@keyframes moveUpDown {
  0% {
    transform: translateY(1);
  }
  50% {
    transform: translateY(2);
  }
  100% {
    transform: translateY(1);
  }
}

.pipe p{
  color: rgb(99, 109, 183);
  margin: 1em;
  transform: translateY(-10%);
  z-index: -5;
  position: relative;
}


/* sub mario */


/* .pipe img {
  width: 100px;
  height: 145px;
  z-index: 1;
  position: absolute;
} */
/* .pipe {
  width: 50px;
  height: 50px;
  background-color: green;
  margin-right: 150px;
} */


/* clouds */
.clouds {
  /* width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-image: url('/images/realclouds.png');
  animation: cloudsMove 60s linear infinite; */


  background-image: url("../images/realclouds2.png");
  /* background-size: cover; */
  background-size: auto 100%;
  background-position: right;
  /* background-repeat: no-repeat; */
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scaleY(.7); */
  /* padding-bottom: 10em; */
  /* height: 62%; */
  z-index: -1;
  animation: cloudsMove linear 130s infinite;
}

@keyframes cloudsMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0;
  }
}


/* scoreboard */
      /* Hide the scoreboard initially */
      #scoreboard {
        display: none;
        position: absolute;
      }


.stage {
  background-image: url("../images/mountainpng5.png");
  background-repeat: repeat-x;
  background-position: center bottom;

}


.img_clicked{
  transform: translateY(-96%);
}

img.sub-mario_img.img_clicked{
  transform: translateY(-96%);
}