/* //////////////// */
/* GENERAL STYLING */
/* ///////////////*/
:root {
  --pixel-size: 6;
  --main-font:'Press Start 2P', cursive;

  --sky-color: #6FDCFF;
  --text-color-title: black;
  --text-color-button: rgb(255, 255, 255);
  --ground-color: brown;
  --article-color: white;
  --article-text-color: rgb(99, 109, 183);
  --article-border-color: black;
  --transparant-bg: #000000b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sky-color: #322a61;
    --text-color-title: rgb(255, 255, 255);
    --text-color-light: white;
    --ground-color: brown;
    --article-color: rgb(59, 59, 59);
    --article-text-color: rgb(216, 221, 255);
    --article-border-color: rgb(216, 221, 255);
    --transparant-bg: #000000b8;
  }
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
  font-family: var(--main-font);
}

/* CSS RESET */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}






/* /////////////////////// */
/* MAIN CONTENT CONTAINER */
/* //////////////////////*/

.container {
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	flex-direction: column;
  background-color: var(--sky-color);
}

.container > section:first-child {
  background-image: url("../images/mountainpng5.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  position: relative;
  flex: 1;
}

header h1 {
  margin: 1em;
  color: var(--article-border-color);
}

.container > :nth-child(2n){
  position: relative;
	flex: 0 0 30vh;
	transition: background-position;
	transition-timing-function: ease-in-out;
	margin-top: auto;
	background-color: var(--ground-color);
	background-position: 0px 32px;
  background-image: url("../images/ground.png");
  transition: background-position 0.2s ease-in-out, left 0.2s ease-in-out;
}

/* grass */
.container > :nth-child(2n) > section{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 32px;
  transition-property: background-position;
  transition-timing-function: ease-in-out;
  background-image: url("../images/grass.png");
  transition: background-position 0.2s ease-in-out;
}







/* /////////////////////// */
/* SPRITE CHARACTER       */
/* //////////////////////*/

/* source code: https://www.youtube.com/watch?v=ekI7vjkFrGA&t=1173s&ab_channel=DrewConley */

.Character {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  z-index: 1000;
  position: absolute;
	left: 50%;
	bottom: -1em;
	transform: translateX(-50%);
	animation-fill-mode: forwards;
}

.Character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}

.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}

.face-up {
  top: calc(-64px * var(--pixel-size));
}

.face-left {
  top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
 }
  to {
    transform: translate3d(-100%, 0, 0);
 }
}






/* /////////////////////// */
/* BUTTONS                */
/* //////////////////////*/

/* button container*/
.container > section:first-child > section:nth-of-type(2) {  
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  flex-direction: row;
}

/* button right */
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(2) {  
  display: inline-block;
  background-color: var(--transparant-bg);
  font-family: var(--main-font);
  border-radius: .5em;
  border: none;
  padding: 1em;
  color: var(--text-color-button);
  z-index: 10000;
  bottom: 0;
  margin: 2em;
  top: 80%;
  left: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .3s ease;
}

/* button img */
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(2) img {  
  max-width: 2em;
  filter: invert(1);
  margin-left: 1em;
}

.container > section:first-child > section:nth-of-type(2) button:nth-of-type(1) img {  
  max-width: 2em;
  filter: invert(1);
  transform: rotate(180deg);
  margin-right: 1em;
}

/* left button */
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(1) {  
  display: inline-block;
  border: none;
  background-color: var(--transparant-bg);
  font-family: var(--main-font);
  color: var(--text-color-button);
  border-radius: .5em;
  padding: 1em;
  margin: 2em;
  z-index: 10000;
  bottom: 0;
  top: 80%;
  left: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .3s ease;
}

/* button states */

/* disabled */
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(2):disabled,
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(1)[disabled]   
{  
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  transition: .2s ease;
}

/* hover */
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(2):hover,
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(1):hover 
{
  transform: scale(1.1);
  transition: .3s ease;
}

/* active */
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(2):active,
.container > section:first-child > section:nth-of-type(2) button:nth-of-type(1):active 
{
  border: 5px solid var(--article-color);
  transition: .3s ease;
}







/* /////////////////////// */
/* PIPES                  */
/* //////////////////////*/

/* pipe container */
.container > section:first-child > section:nth-of-type(1){
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1200px;
	left: 50%;
	bottom: 0;
	transform: translateX(100%);
  transition: background-position 0.2s ease-in-out, left 0.2s ease-in-out;
}

/* pipe */
.container > section:first-child > section > section {
  width: 100px;
  height: 189px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* pipe image 1 */
.container > section:first-child > section > section img:nth-of-type(1) {
  width: 100px;
  height: 145px;
  position: relative;
  z-index: 1;
}

/* pipe image 2 */
.container > section:first-child > section > section img:nth-of-type(2) {
  width: 100px;
  height: 145px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(32%);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* plant going up */
.container > section:first-child > section > section img:nth-of-type(2).plantsUp {
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

/* Mario inside of pipe */
.container > section:first-child > section > section img:nth-of-type(3) {
  width: 100px;
  height: 145px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(32%);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* mario goes up */
.container > section:first-child > section > section img:nth-of-type(3).img_clicked {
  transform: translateY(-96%);
}

/* article in pipe */
.container > section:first-child > section > section article {
  max-width: 28em;
  width: 28em;
  background-color: var(--article-color);
  padding: 1em;
  position: relative;
  font-size: 12px;
  margin-left: 10em;
  transition: .3s ease;
}

.container > section:first-child > section > section article p {
  margin: 0;
  margin-top: 2em;
}

.container > section:first-child > section > section p {
  color: var(--article-text-color);
  margin: 1em;
  transform: translateY(-10%);
  z-index: -5;
  position: relative;
}

.container > section:first-child > section > section article h2 {
  color: var(--text-color-light);
}

/* Moving article position */
.infoUp{
  transform: translateY(-233%);
}

.close{
  font-size: 2em;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding:.5em .3em;
}


/* pixelate borders */
/* source from generator: */
/* https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4&border=1&border_width=1&border_color=#000000 */

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--article-border-color);
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}

/* movement keyframes */
@keyframes moveUpDown {
  0% {
    transform: translateY(1);
  }
  50% {
    transform: translateY(2);
  }
  100% {
    transform: translateY(1);
  }
}






/* /////////////////////// */
/* CLOUDS                 */
/* //////////////////////*/

.container > section:first-child > div:nth-of-type(1) {  
  background-image: url("../images/realclouds2.png");
  background-size: auto 100%;
  background-position: right;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: cloudsMove linear 130s infinite;
}

/* movement keyframes */
@keyframes cloudsMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0;
  }
}

/* /////////////////////// */
/* SCOREBOARD             */
/* //////////////////////*/

/* Hide the scoreboard initially */
.container section:first-child header section {
  display: none;
  position: absolute;
  padding: 1em;
  background-color: var(--transparant-bg) ;
  color: var(--article-color);
  border-radius: .5em;
  margin: 0 1em;
}







/* /////////////////////// */
/* MONEY RAIN             */
/* //////////////////////*/

.heart {
  position: fixed;
  top: -9vh;
  transform: translateY(0);
  transform: translateX(0);
  animation: fall 3s linear;
  font-size: 1.2rem;
  z-index: 10000000000;
}

/* keyframes raining money */
@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
